{% extends "base.html" %}

{% block scripts %}
	<script>
		var maxDay;
		var year;
		
		function setTimeBorders()
		{
			var selectorValue = document.getElementById("timeBordersSelector").value;
			var now = new Date();
			var downBorder='2000-01-01';
			var topBorder='2000-01-01';
			var month = (now.getMonth() + 1);
			year= now.getFullYear();
			
			switch(selectorValue)
			{
				case "Current month":
					setMaxDay( month );
					if (month < 10) month = '0' + month;
					downBorder= year+'-'+month+'-01';
					topBorder= year+'-'+month+'-'+maxDay;
					break;
				case "Previous month":
					if( month != 1) month--;
					else
					{
						month=12;
						year--;
					}
					setMaxDay( month );
					if (month < 10) month = '0' + month;
					downBorder= year+'-'+month+'-01';
					topBorder= year+'-'+month+'-'+maxDay;
					break;
				case "Current year":
					downBorder=year + '-01-01';
					topBorder=year + '-12-31';
					break;
				case "Custom":
					document.getElementById("topDateBorder").disabled = false;
					document.getElementById("downDateBorder").disabled = false;
					break;
			}
			document.getElementById("downDateBorder").value = downBorder;
			document.getElementById("topDateBorder").value = topBorder;
		}
		
		function setMaxDay( month )
		{
			if( month == 1 || month == 3 || month == 5 || month == 7 || month == 8 || month == 10 || month == 12)
			{
				maxDay = 31;
			}
			else if( month  == 2 )
			{
				if(year%4 ==0) maxDay = 29;
				else maxDay = 28;
			}
			else maxDay = 30;
		}
	</script>	

{% endblock %}
	
{% block header2 %}<h2 > Balance </h2>{% endblock %}

{% block body %}

	<div class="container bg-container">
		<div class=" mainPanel col-md-12 col-lg-8 p-4 mt-4">
			<form method="post" action="show">
				<div class="row">
						<div class="col-md-5 col-sm-10 mx-auto">			
							<div class="row pb-1">
								Time borders:
							</div>
							<div class="row pb-2">
									<select class="textField"  name="timeSelector" id="timeBordersSelector" onchange="setTimeBorders()">
										{% if selector is not empty %} 
											{% set chosenOption = selector %} 
											<option selected="{{chosenOption}}" hidden="hidden">{{chosenOption}}</option>
										{% endif %} 
										<option>Current month</option>
										<option>Previous month</option>
										<option>Current year</option>
										<option>Custom </option>
									</select>
							</div>
						</div>
						<div class="col-md-5 col-sm-10 mx-auto">
						</div>
						<div class="row pb-1">
							<div class="col-md-5 col-sm-10 mx-auto">
								<div class="row pb-1">
									Down border: 
								</div>
								<div class="row pb-2">
									<input type="date" name="downBorder" class="textField timeBorders" id="downDateBorder" value='{{downBorder}}'/>
								</div>
							</div>
							<div class="col-md-5 col-sm-10 mx-auto">
								<div class="row pb-1">
									Top border: 
								</div>
								<div class="row pb-2">
									<input type="date" name="topBorder" class="textField timeBorders" id="topDateBorder" value='{{topBorder}}'  />
								</div>
								{% if topBorder is empty %} 
									<script>setTimeBorders();</script>
								{% endif %} 
							</div>
						</div>
						<div class="row pb-1 mt-3 ">
							<div class="w-50px">
								<input type="submit" class= "btn buttonsStyle" value="Show balance" />
							</div>
						</div>
				</div>
			</form>
			
			{% if selector is not empty %}
				<div class="col-md-6 col-sm-10 mx-auto">
					<div class="row">
						Incomes:
					</div>
					<div class="row">
						<table>
							<thead>
								<tr>
									<th>Category</th>
									<th>Sum amount zł</th>
								</tr>
							</thead>
							{% set i = 0 %}
							{% for summaryAmounts in balance.incomesSummaryAmount%}
									<tr>
										{% if balance.incomesSummaryAmount[ i ] is not empty %}
											<td>{{balance.incomeCategoryNames[ i ]}}</td>
											<td>{{balance.incomesSummaryAmount[ i ]}}</td>
										{% endif %}
									</tr>
								{% set i = i + 1 %}
							{% endfor %}
						</table>
					</div>
				</div>
				<div class="col-md-6 col-sm-10 mx-auto">
					<div class="row">
						Expenses:
					</div>
				</div>
			{% endif %}

			<div class="row mt-5">
				<div class="col-sm">
					<a class="btn buttonsStyle" href="mainSite.php" role="button">
						<i class="icon-left-big"></i> Back
					</a>
				</div>
				<div class="col-sm ">
				</div>
			</div>
		</div>
	</div>
    
{% endblock %}

