{% extends "base.html" %}

{% block header2 %}<h2 > Make life easier </h2>{% endblock %}

{% block body %}

    <div class="container bg-container">
	
	
		<form class="mainPanel col-sm-8 col-md-6 p-4 mt-4"
			action="create" method="post">
			<div class="row ">
				Name:
			</div>
			<div class="row" >
				<input type="text" class="form-control" placeholder="User - name" aria-label="UserName" name="name">
			</div>
			
			{% if user.nameError is not empty %}
				<p class="errorStyle">{{ user.nameError }}</p>
			{% endif %}
			
			<div class="row rowMargin">
				Last name:
			</div>
			<div class="row" >
				<input type="text" class="form-control" placeholder="User - last name" aria-label="lastName" name="lastName">
			</div>
			
			{% if user.nameError is not empty %}
				<p class="errorStyle">{{ user.lastNameError }}</p>
			{% endif %}
			
			<div class="row rowMargin">
				E-mail address:
			</div>
			<div class="row " >
				<input type="text" class="form-control" placeholder="User - name" aria-label="UserEmail" name="email">
			</div>
			
			{% if user.nameError is not empty %}
				<p class="errorStyle">{{ user.emailError }}</p>
			{% endif %}
			
			<div class="row rowMargin">
				Login:
			</div>
			<div class="row" >
				<input type="text" class="form-control" placeholder="User - login" aria-label="UserLogin" name="login">
			</div>
			
			{% if user.nameError is not empty %}
				<p class="errorStyle">{{ user.loginError }}</p>
			{% endif %}
			
			<div class="row rowMargin">
				Password
			</div>
			<div class="row" >
				<input type="password" class="form-control" placeholder="User - password" aria-label="UserP" name="password1" />
			</div>
			<div class="row mt-2">
				<input type="password" class="form-control" placeholder="Repeat user - password" aria-label="UserP" name="password2"/>
			</div>
			
			{% if user.nameError is not empty %}
				<p class="errorStyle">{{ user.passwordError }}</p>
			{% endif %}
			
			<div class="row mt-5">
				<div class="col-sm ">
					<a class="btn buttonsStyle" href="/Home/index" role="button">
						<i class="icon-left-big"></i> Back
					</a>
				</div>
				<div class="col-sm ">
					<input type="submit" class="btn buttonsStyle" value="Submit">
				</div>
			</div>
		</form>
	</div>

{% endblock %}
