{% extends "base.html" %}

{% block header2 %}<h2 > Make life easier </h2>{% endblock %}

{% block body %}

    <div class="container bg-container">
		<div class=" mainPanel col-sm-8 col-md-6 p-4 mt-4" >
			<form action="/Signin/login" method="post">
				<div class="row ">
					Login:
				</div>
				<div class="row ">
					<input type="text" name="login" class="form-control" placeholder="User - login" aria-label="Username" value="{{ user.login }}">
				</div>
				
				{% if user.loginError is not empty %}
				<p class="errorStyle">{{ user.loginError }}</p>
				{% endif %}
				
				<div class="row rowMargin">
					Password
				</div>
				<div class="row ">
					<input type="password" name="password" class="form-control" placeholder="User - password" aria-label="Username">
				</div>
				
				{% if user.passwordError is not empty %}
				<p class="errorStyle">{{ user.passwordError }}</p>
				{% endif %}
			
				<div class="row rowMargin">
					<div class="col-sm ">
						<a class="btn buttonsStyle" href="/signup/new" role="button">Registration</a>
					</div>
					<div class="col-sm ">
						<input type="submit" class="btn buttonsStyle" value="Login"/>
					</div>
				</div>
			</form>
		</div>
	</div>

{% endblock %}
